{% extends 'base.html.twig' %}
{% block title %} {{ controller_name }} {% endblock %}
  {% block body %}
	<compteur> 
	</br>
	</br>
		<h1> Details Du Compteur </h1>
		</hr>
		</br>
		</br>
		</br>
		<h2> Numéro du compteur : {{ compteur.numero }} </h2>
	</compteur>
{% endblock %}