{% extends 'base.html.twig' %}

{% block title %}Senegalaise Des Eaux{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>SENEGALAISE DES EAUX ✅</h1>

    </p>
    </br>
    <h3>Expérience et professionnalisme au service des clients</h3>
    </br>
    La Sénégalaise Des Eaux assure l'exploitation​ et la gestion du service public de l'eau potable en milieu urbain depuis 1996. Elle a été mandatée par l'Etat du Sénégal à la suite de la restructuration du sous-secteur de l'hydraulique urbaine sur la base d'un Contrat d'Affermage. Les performances de l'entreprise au cours de ces deux décennies (1996-2016) ont grandement contribué à l'atteinte par notre pays des Objectifs du Millénaire pour le Développement (OMD) dans le domaine du service d'eau potable en compagnie des autres acteurs du secteur de l'hydraulique urbaine. Ainsi, la SDE participe aux côtés des autorités à l'amélioration constante de la qualité de vie des populations. Ce qui lui a valu la reconnaissance du gouvernement sénégalais qui lui a confié le Programme d'Urgence et de Sécurisation de l'Alimentation en Eau Potable de Dakar pour la réalisation de 21 nouveaux forages et un apport supplémentaire de 60 000 m3/jour en 2015.
    </p>

    </p>
    <h3>Un management QSE, une société engagée dans la RSE</h3>
    </br>
    Avec près de 1200 collaborateurs, la SDE approvisionne plus de 6,5 millions de consommateurs chaque jour à travers des branchements individuels et des bornes fontaines. La SDE a un système de management axé sur la qualité (ISO 9001) intégrant les dimensions  Sécurité (OHSAS 18001) et Environnement (ISO 14001). Première société de production et de distribution d'eau d'Afrique certifiée QSE (Qualité, Sécurité et Environnement), la Sénégalaise Des Eaux est devenue depuis le mois de janvier 2015 une entreprise exemplaire en matière de Responsabilité Sociétale d'Entreprise (RSE) en atteignant 702 points sur ce référentiel. Elle joue un rôle clé dans la lutte contre la pauvreté avec l'extension de l'accès à l'eau et le programme des branchements sociaux destinés aux populations des quartiers démunies des zones péri-urbaines.
La SDE modernise de manière permanente ses outils de gestion et d'exploitation avec des applications comme le SIG (Système d'information Géographique), la sécurisation et l'évolution du logiciel de gestion clientèle Saphir, la mise en place d'un  nouveau progiciel intégré de finances achats/stocks et budget, le Cockpit 2.0 (call center, interventions). Ces innovations  permettent de réduire les délais d'intervention, contribuent à l'efficacité des actions et à l'amélioration du rendement de réseau.
L'entreprise s'est positionnée comme une société moderne, accueillante et innovante en plaçant la satisfaction des clients au cœur de ses préoccupations avec l'introduction de nouveaux outils de paiement par téléphone portable (Yobantel, Orange Money, Tigo Cash).
Toutes les actions de l'entreprise s'inscrivent dans le cadre d'une parfaite synergie avec les autres acteurs du secteur de l'hydraulique urbaine notamment la SONES (société de patrimoine). Le partenariat avec l'Autorité Affermante et la société de patrimoine est aujourd'hui cité en exemple à travers le monde.​
    </p>

    </p>
    <h3>Une référence</h3>
    </hr>
    La SDE a consolidé son statut de société d'eau de référence en Afrique. Le Contrat de Service signé avec la REGIDESO (Régie de Distribution d'Eau de la République Démocratique du Congo) pour une période de trois ans à la suite d'un appel d'offres international en est une belle illustration. Cette expertise reconnue, pousse régulièrement des entreprises africaines à envoyer leurs agents à la SDE pour un échange de bonnes pratiques dans le domaine de l'eau. Hors du continent, la SDE a apporté une assistance technique et commerciale à la société d'eau (National Water Company) de la Mecque (Arabie Saoudite). L'entreprise est membre de l'Association Africaine de l'Eau (AAE), de l'International Water Association (IWA) de la Fédération Mondiale des Opérateurs Privés de Services d'Eau (AQUAFED) et du Conseil Mondial de l'Eau (WWC).​ 
    </p>

    
</div>
{% endblock %}
